.shoppingCart {
  -webkit-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 20;
  color: #dddddd;
  min-width: 70px;
  text-align: center; }
  .shoppingCart svg {
    font-size: 1.5rem; }
  .shoppingCart .s {
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    line-height: 70px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 5px; }
    .shoppingCart .s:hover {
      background-color: #cc0000; }
  .shoppingCart.active {
    -webkit-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    transform: translateX(-400px);
    -webkit-transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -ms-transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .shoppingCart.active .s {
    color: #cc0000;
    background: #dddddd; }

.shoppingCartContent {
  position: absolute;
  top: 0;
  left: 105%;
  width: 400px;
  height: 100vh;
  border-left: 0.25rem solid #cc0000;
  background: black; }

header {
  max-height: 70px;
  background: black;
  font-size: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  text-align: center; }
  header ul {
    text-align: left; }
    header ul .nav-item {
      list-style: none;
      margin-right: 10px;
      position: relative; }
      header ul .nav-item .nav-link {
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        border: 0.2rem solid #cc0000;
        padding: 10px 15px 10px 25px;
        display: block;
        width: 170px;
        font-weight: bold; }
        header ul .nav-item .nav-link svg {
          position: absolute;
          right: 10px;
          top: 14px; }
        header ul .nav-item .nav-link:hover {
          background-color: #dddddd;
          color: #cc0000; }
  header .sub-menu-container {
    -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    visibility: hidden;
    z-index: 12;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    margin-bottom: 2rem; }
    header .sub-menu-container .sub-menu {
      -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      -moz-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      -ms-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      -o-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      font-size: 0.8rem;
      padding: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%; }
      header .sub-menu-container .sub-menu .nav-item {
        position: relative;
        background-color: #000; }
        header .sub-menu-container .sub-menu .nav-item .nav-link {
          border-bottom: none; }
          header .sub-menu-container .sub-menu .nav-item .nav-link:last-child {
            border-bottom: 0.2rem solid #cc0000; }
    header .sub-menu-container:hover {
      -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
      visibility: visible; }
  header .show {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    visibility: visible; }

.brk-btn {
  position: relative;
  background: none;
  color: #dddddd;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #cc0000;
  padding: 20px 60px;
  font-weight: bold;
  outline: none;
  min-width: 200px; }
  .brk-btn::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #ffffff;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  .brk-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #ffffff;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
  .brk-btn:hover {
    background-color: #dddddd;
    -webkit-transition: background-color 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: background-color 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: background-color 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: background-color 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: background-color 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    color: #cc0000;
    text-decoration: none; }
    .brk-btn:hover::before {
      right: 80%; }
    .brk-btn:hover::after {
      left: 80%; }

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  z-index: 10; }

#breadcrumb {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0; }
  #breadcrumb li {
    float: left; }
    #breadcrumb li a {
      color: #FFF;
      display: block;
      background: #cc0000;
      text-decoration: none;
      position: relative;
      height: 40px;
      line-height: 40px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    #breadcrumb li:nth-child(even) a {
      background-color: #b30000; }
      #breadcrumb li:nth-child(even) a:before {
        border-color: #b30000;
        border-left-color: transparent; }
      #breadcrumb li:nth-child(even) a:after {
        border-left-color: #b30000; }
    #breadcrumb li:first-child a {
      padding-left: 15px;
      border-radius: 0 4px 4px 0; }
      #breadcrumb li:first-child a:before {
        border: none; }
    #breadcrumb li:last-child a {
      padding-right: 15px;
      border-radius: 0 4px 4px 0; }
      #breadcrumb li:last-child a:after {
        border: none; }
    #breadcrumb li a:before, #breadcrumb li a:after {
      content: "";
      position: absolute;
      top: 0;
      border: 0 solid #cc0000;
      border-width: 20px 10px;
      width: 0;
      height: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    #breadcrumb li a:before {
      left: -20px;
      border-left-color: transparent; }
    #breadcrumb li a:after {
      left: 100%;
      border-color: transparent;
      border-left-color: #cc0000; }
    #breadcrumb li a:hover {
      background-color: transparent; }
      #breadcrumb li a:hover:before {
        border-color: transparent;
        border-left-color: transparent; }
      #breadcrumb li a:hover:after {
        border-left-color: transparent; }

.startScreen .leftTextSection {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.9); }
  .startScreen .leftTextSection h1 {
    font-size: 7rem; }
  .startScreen .leftTextSection p {
    font-size: 3rem; }

.startScreen .rightImageSection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.startScreen .startButton {
  opacity: 0;
  -webkit-transform: translateY(400px);
  -ms-transform: translateY(400px);
  transform: translateY(400px);
  position: relative;
  width: 100%;
  top: -20%;
  margin: auto;
  text-align: center; }

.loadedMainContent {
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
  opacity: 1 !important;
  -webkit-transition: all 2.5s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 2.5s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: all 2.5s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 2.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 2.5s cubic-bezier(0.86, 0, 0.07, 1); }

.loadedButton {
  -webkit-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
  -webkit-transition: all 3.5s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 3.5s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: all 3.5s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 3.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 3.5s cubic-bezier(0.86, 0, 0.07, 1); }

.chosen-value,
.value-list {
  width: 60%; }

.chosen-value {
  width: 100%;
  height: 4rem;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #dddddd;
  border: 3px solid transparent;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
  .chosen-value:hover {
    background-color: #cc0000;
    cursor: pointer; }
  .chosen-value::-webkit-input-placeholder {
    color: black; }
  .chosen-value:focus, .chosen-value.open {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
    outline: 0;
    background-color: #cc0000;
    color: #000; }
  .chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
    color: #000; }

.value-list {
  width: 100%;
  margin: auto;
  list-style: none;
  padding: 0;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  max-height: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.value-list.open {
  max-height: 320px;
  overflow: auto; }

.value-list li {
  position: relative;
  height: 4rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  opacity: 1; }

.value-list li:hover {
  background-color: #cc0000; }

.value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0; }
  .value-list li.closed .disabled:hover {
    cursor: not-allowed;
    background-color: #ffffff; }

.findStuff {
  color: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .findStuff h2 {
    font-size: 3rem; }
  .findStuff .stepperContainer {
    position: relative;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .findStuff .stepperContainer .wrapper {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .findStuff .findButton {
    position: absolute;
    top: 80%; }
  .findStuff img {
    width: 100px; }

section .left {
  position: relative;
  height: 200%;
  top: -55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(45deg) translateY(-100%);
  -ms-transform: rotate(45deg) translateY(-100%);
  transform: rotate(45deg) translateY(-100%); }
  section .left .content {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  section .left:hover {
    -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transform: scale(1.05) rotate(45deg) translateY(0);
    -ms-transform: scale(1.05) rotate(45deg) translateY(0);
    transform: scale(1.05) rotate(45deg) translateY(0);
    background: black;
    z-index: 1; }

section .right {
  position: relative;
  height: 200%;
  top: -30%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(45deg) translateY(100%);
  -ms-transform: rotate(45deg) translateY(100%);
  transform: rotate(45deg) translateY(100%); }
  section .right .content {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  section .right:hover {
    -webkit-transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transform: scale(1.05) rotate(45deg) translateY(0);
    -ms-transform: scale(1.05) rotate(45deg) translateY(0);
    transform: scale(1.05) rotate(45deg) translateY(0);
    background: black;
    z-index: 1; }

section .loadedPart {
  -webkit-transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: rotate(45deg) translateY(0);
  -ms-transform: rotate(45deg) translateY(0);
  transform: rotate(45deg) translateY(0); }

.filtersContainer .wrapper {
  border-right: 0.25rem solid #cc0000;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out; }
  .filtersContainer .wrapper ul {
    padding: 0; }
    .filtersContainer .wrapper ul li {
      list-style: none; }
      .filtersContainer .wrapper ul li input[type="radio"] {
        display: none; }
        .filtersContainer .wrapper ul li input[type="radio"]:checked + label {
          background-color: #cc0000; }
      .filtersContainer .wrapper ul li label {
        margin: 0;
        width: 100%;
        padding: 0.7rem 0 0.7rem 2rem;
        color: #dddddd;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      .filtersContainer .wrapper ul li:hover {
        background-color: #cc0000;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }

.productlistContainer .productCard {
  height: 200px; }

.production {
  padding-top: 70px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

html {
  scroll-behavior: smooth; }
  html body {
    background-color: black;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased; }
    html body section {
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      background-attachment: fixed; }
    html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
      color: #cc0000; }
    html body p {
      color: #dddddd; }

.specialText {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600; }

.disabled:hover {
  cursor: not-allowed;
  background-color: transparent; }
  .disabled:hover::before {
    right: 20%; }
  .disabled:hover::after {
    left: 20%; }
