@mixin font-face($name, $file, $weight) {
  @font-face {
    font-family: "#{$name}";
    src: url("../../assets/fonts/#{$name}/#{$file}.eot");
    src: url("../../assets/fonts/#{$name}/#{$file}.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/#{$name}/#{$file}.woff") format("woff"),
    url('../../assets/fonts/#{$name}/#{$file}.woff2') format('woff2'),
    url("../../assets/fonts/#{$name}/#{$file}.ttf") format("truetype"),
    url("../../assets/fonts/#{$name}/#{$file}.svg?#webfont") format("svg");
    font-weight: $weight;
  }
}