.brandsContainer{
    @include boxShadow(0px 0px 10px 15px rgba(0,0,0,1));
    border-top: 0.1rem solid $primaryLightColor;
    height: 80vh;
    background: rgba(0,0,0,0.85);
    overflow-y: scroll;
    align-content: flex-start;
    overflow-x: hidden;
    .item{
        @include transition(all 0.2s ease-in-out);
        height: 35%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: grayscale(1);
        &:hover{
            transform: scale(1.1);
            @include boxShadow(0px 0px 30px 20px rgba(0,0,0,1));
            filter: grayscale(0);
        }
        img{
            @include userSelect(none);
            cursor: pointer;
            width: 80%;
            filter: grayscale(1);
            &:hover{
                filter: grayscale(0);
            }
        }
    }
}
.brandsContainer .item.closed{
    display: none;
}