.filtersContainer{
    .wrapper{
        border-right: 0.25rem solid #cc0000;
        padding: 0;
        background-color: rgba(0,0,0,0.7);
        transition: background-color 0.5s ease-in-out;
        ul{
            padding: 0;
            li{
                list-style: none;
                input[type="radio"]{
                    display: none;
                    &:checked+label{
                        background-color: $primaryLightColor;
                    }
                }
                label{
                    margin: 0;
                    width: 100%;
                    padding: 0.7rem 0 0.7rem 2rem;
                    color: $secondaryDarkColor;
                    transition: all .2s ease-in-out;
                }
                &:hover{
                    background-color: $primaryLightColor;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }
}