.modelContainer{
    @include boxShadow(0px 0px 10px 15px rgba(0,0,0,1));
    border-top: 0.1rem solid $primaryLightColor;
    height: 80vh;
    background: rgba(0,0,0,0.85);
    overflow-y: scroll;
    align-content: flex-start;
            .cardContainer{
                @include userSelect(none);
                cursor: pointer;
                height: 50%;
                background: rgba(0,0,0,0);
                color: $secondaryDarkColor;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                transform: translateY(0px);
                &:hover{
                    text-decoration: none;
                    color: $secondaryLightColor;;
                    transform: translateY(-15px);
                    @include transition(all 0.2s ease);
                }
                .cardPhoto{
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    align-items: center;
                    img{
                        width: 200px;
                        padding: 2.5rem;
                    }
                }
                .cardContent{
                    height: 50%;
                    padding: 0 1rem 0 1rem;
                    background-color: $primaryLightColor;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-evenly;
                    height: 50%;
                    border-radius: 10px 10px 10px 10px;
                    .cardTitle{
                        font-size: 20px;
                        font-width: bold;
                    }

                // span:nth-child(1){
                //     min-width:75%;
                //     background-color: $primaryLightColor;
                // }
                // span:nth-child(2){
                //     min-width: 25%;
                //     background-color: $primaryLightColor;
                // }
            }
        }
        
        // .itemContainer .avaliable{
        //     color: green;
        // }
        // .itemContainer .notAvaliable{
        //     color: red;
        // }
}