.productionContainer{
    border-top: 0.1rem solid $primaryLightColor;
    height: 80vh;
    background: rgba(0,0,0,0.85);
    overflow-y: scroll;
    align-content: flex-start;
    .item{
        height: 35%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            @include userSelect(none);
            cursor: pointer;
            @include transition(all 0.2s ease-in-out);
            filter: grayscale(1);
            width: 80%;
            &:hover{
                filter: grayscale(0);
            }
        }
    }
}
.productionContainer .item.closed{
    display: none;
}