
//icon
.shoppingCart{
  @include transition(transform 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860));
  z-index: 20;
  color: $secondaryDarkColor;
  position: fixed;
  top: 25px;
  left: calc(100% - 70px);
    min-width: 70px;
    svg{
      font-size: 1.8rem;
    }
    .quantityIn{
      @include userSelect(none);
      position: absolute;
      display: flex;
      align-items: center;
      font-size: 20px;
      left: 46px;
      top: -13px;
      height: 50px;
      color: $secondaryLightColor;
      background-color: $primaryLightColor;
    }
    text-align: center;
    .s {
        position: relative;
        @include transition(all 0.2s ease-in-out);
        line-height: 70px;
        color: $secondaryLightColor;
        cursor: pointer;
        &:hover{
          background-color: $primaryLightColor;
        }
        margin-right: 5px;
      }

      &.active{
        transform: translateX(-50vw);
        @include transition(transform 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860));
      }
      &.active .s {
        color: $primaryLightColor;
        background: $secondaryDarkColor;
      }
}

//content

.shoppingCartContent{
  z-index: 20;
  position: fixed;
  top: 0;
  left: 105%;
  width: 50vw;
  height: 100vh;
  border-left: 0.25rem solid $primaryLightColor;
  background: rgba(0,0,0, 1);
  h2{
    color: $secondaryLightColor;
    margin-top: 0.5rem;
  }
  hr{
      border-top: 0.1rem solid $secondaryLightColor;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 80%;
  }
  .shoppingList{
    max-height: 70vh;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    hr{
      border-top: 0.1rem solid $secondaryLightColor;
      margin: auto;
    }
    .shoppingItem{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem 0.5rem 1rem;
      font-size: 1.2rem;
      width:100%;
      text-align: left;
      .name{
        width: 65%;
        padding-right: 15px;
        span:nth-child(1){
          font-size: 1.5rem;
        }
        span:nth-child(2){
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      .quantPriceIcon{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        .quant{
          font-size: 1.5rem;
        }
        .price{
          font-size: 1.5rem;
        }
        svg{
          cursor: pointer;
          font-size: 2rem;
          color: $primaryLightColor;
          @include transition(all 0.2s ease-in-out);
          &:hover{
            color: $secondaryLightColor;
          }
          path{
            pointer-events: none;
          }
        }
      }
    }
  }
  .shoppingList .empty{
    font-size: 25px;
  }
}
.orderContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width:100%;
  .orderButtonContainer{
    width: 65%;
    padding-right: 15px;
  }
  .quantPriceIcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    font-size: 25px;
    font-weight: bold;
    svg{
      font-size: 30px;
      cursor: pointer;
      font-size: 2rem;
      color: $primaryLightColor;
      @include transition(all 0.2s ease-in-out);
      &:hover{
        color: $secondaryLightColor;
      }
      path{
        pointer-events: none;
      }
    }
  }
}
