@import '../_components/dropdownList';

.findStuff{
    .wrapperFindStuff{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    h2{
        font-size: 3rem;
    }
    color: $secondaryDarkColor;
    display: flex;
    justify-content: center;
    .stepperContainer{
        position: relative;
        height: 100%;
        align-items: center;
        display: flex;
        .wrapper{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .findButton{
        position: absolute;
        top: 80%;
    }
    img{
        width: 100px;
    }

    //FOR MOBILE FINDSTUFF
    .wrapperFindStuffMobile{
        display: none;
    }
}
