.order{
    .orderWrapper{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .title{
        font-size: 40px;
    }
    .billContainer{
        background: rgba(0,0,0,0.5);
        @include boxShadow(0px 0px 10px 15px rgba(0,0,0,0.75));
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .billItemsContainer{
            max-height: 50vh;
            overflow-y: scroll;
            width: 100%;
            padding: 0;
            margin: 0;
            font-size: 18px;
            .billItem + hr{
                width: 60%;
                border: 1px solid $secondaryLightColor;
            }
            .billItem{
                color: $secondaryLightColor;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .bill{
                    &-name{
                        font-size: 20px;
                    }
                    &-type{
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    &-manufacturer{
                        color: $primaryLightColor;
                        align-items: center;
                    }
                    &-price{
                        font-size: 25px;
                        align-items: center;
                    }
                    &-quantity{
                        font-size: 25px;
                        align-items: center;
                    }
                }
            }
        }
        hr{
            width: 90%;
            border: 1px solid $primaryLightColor;
        }
        .summaryContainer{
            color: $secondaryLightColor;
            font-size: 30px;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
    .formContainer{
        background: rgba(0,0,0,0.5);
        @include boxShadow(0px 0px 10px 15px rgba(0,0,0,0.75));
        background: rgba(0,0,0, .75);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $secondaryLightColor;
        label{
            color: $secondaryLightColor;
        }
        a{
            color: $primaryLightColor;
        }
        .wrapperPadding{
            form{
                .form-control{
                    color: black;
                }
                .form-control.incorrect{
                    border: 2px solid $primaryLightColor;
                }
                p.error{
                    color: $primaryLightColor;
                    margin: 0;
                    padding: 0;
                    font-size: 12px;
                }
            }
        }
    }
}
.wrapperPadding{
    width: 100%;
    padding: 0 2rem 0 2rem;
}

.order > div{
    background: rgba(0,0,0,0.5);
}