.order{

    .billContainer{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .billItemsContainer{
            max-height: 50vh;
            overflow-y: scroll;
            width: 100%;
            padding: 0;
            margin: 0;
            font-size: 18px;
            .billItem{
                color: $secondaryLightColor;
                display: flex;
                justify-content: space-between;
                .bill{
                    display: flex;
                    &-name{
                        width: 45%;
                        font-size: 16px;
                        align-items: center;
                    }
                    &-manufacturer{
                        color: $primaryLightColor;
                        align-items: center;
                    }
                    &-price{
                        font-size: 20px;
                        align-items: center;
                    }
                    &-quantity{
                        font-size: 20px;
                        align-items: center;
                    }
                }
            }
        }
        hr{
            width: 90%;
            border: 1px solid $primaryLightColor;
        }
        .summaryContainer{
            color: $secondaryLightColor;
            font-size: 30px;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
    .formContainer{
        @include boxShadow(0px 0px 10px 15px rgba(0,0,0,0.75));
        background: rgba(0,0,0, .75);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $secondaryLightColor;
        label{
            color: $secondaryLightColor;
        }
        a{
            color: $primaryLightColor;
        }
    }
}
.wrapperPadding{
    width: 100%;
    padding: 0 2rem 0 2rem;
}