@import '../_components/filters';
@import '../_components/productList';

.production{
    padding-top: 70px;

    .filtersContaitaner{
        border: 1px solid $primaryLightColor;
        height: 100vh;
    }

    .productionContainer{
        border: 1px solid $primaryLightColor;
        height: 100vh;
    }
}