@media (max-width: 576px) {

  header{

    nav.mobileNavbar{
      .activeSub{
        margin-bottom: 240px !important;
      }
      ul.mobile-nav-content{
        margin-top: 70px;
        .nav-item{
          width: 60%;
          height: 50px;
          .sub-menu-container{
            width: 100%;
            ul.sub-menu{

              .nav-item{
                height: 40px;
                a{
                  font-size: 15px;
                }
              }
              .activeSub{
                margin-bottom: 240px !important;
              }
            }
          }
        }

      }
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (max-width: 900px) {
  header{
    .navbar{
      display: none;
    }
    nav.mobileNavbar{
      display: block;
    }
  }


}
@media (max-width: 1060px) {

  //hide usual nav
  .navbar{
    padding-top: 30px;
    .navbar-brand{
      display: none;
    }
  }
  .startScreen{
    background-position: right;
  }

  //show mobile

}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {

}