


// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  section.production {
    .modelContainer {
      .cardContainer {
        .cardTitle {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1060px) {

  //hide usual nav
  .navbar{
    padding-top: 30px;
    .navbar-brand{
      display: none;
    }
    .sub-menu-container{
      .sub-menu{
        margin-left: -100px;
      }
    }
  }

  .startScreen{
    background-position: right;
  }
  section.production{
    .brandsContainer{
      transition: none;
    }
    .modelContainer{
      transition: none;
      .cardContainer{
        transform: translateX(0);

        .cardTitle{
          font-size: 15px;
        }
        .cardVendor{
          font-size: 12px;
        }
      }
    }
    .itemContainer{
      .contentContainer{
        h1{
          font-size: 30px;
        }
        .infoContainer{
          h2{
            font-size: 25px;
          }
        }
        .advIconsContainer{
          .advIcon{
            svg{
              font-size: 3rem;
            }
          }
        }
        .quantityBuyContainer{
          button{
            padding: 0.5rem;
          }
        }
      }
    }
  }


}
@media (max-width: 900px) {
  header{
    .navbar{
      display: none;
    }
    nav.mobileNavbar{
      display: block;
    }

  }
  .startScreen{
    .titleContainer{
      h1{
        font-size: 4.5rem;
      }
    }
    .leftTextSection p{
      font-size: 1.5rem;
    }
    .startButton{
      button{
        font-size: 15px;
      }
    }
  }
  .shoppingCart{
    .s{
      width: 50px;
      line-height: 40px;
      .quantityIn{
        font-size: 15px;
        top: -30px;
        left: 40px;
      }
    }
      svg{
        font-size: 1.5rem;
      }
    .shoppingCartContent{
      position: absolute;
      width: 60vw;
      h2{
        font-size: 25px;
      }
      .shoppingList{
        .shoppingItem{
          .name{
            span:nth-child(1){
              font-size: 1.2rem;
            }
            span:nth-child(2){
              font-size: 1rem;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
  .shoppingCart.active{
    transform: translateX(-60vw);
  }

  .mobile-container{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .findStuff{
    .findButton{
      button{
        font-size: 15px;
      }
    }

    .stepperContainer{
      flex-direction: column;
      height: 50%;

      .wrapper{
        min-width: 100%;
      div.lock{
        display: none;
      }
        div{
          h2{
            font-size: 1.5rem;
          }
          form{
            .chosen-value{
              height: 2rem;
            }
            .value-list{
              background: rgba( 0, 0, 0, 1);
              z-index: 1;
            }
          }
        }
      }
    }
  }
  section.production{

    .modelContainer{
        height: 65vh;
        .cardContainer{
          height: 40%;
          .cardPhoto{
            img{
              padding: 4rem;
            }
          }
          .cardTitle{
            font-size: 15px;
          }
          .cardVendor{
            font-size: 12px;
          }
        }
    }
  }
  section.order{
    .orderWrapper{
      height: 95vh;
    }
    .title{
      font-size: 30px;
    }
    p{
      font-size: 15px;
    }
    .billContainer{
      .billItemsContainer{
        .billItem {
          .bill-name{
            font-size: 14px;
          }
          .bill-type{
            font-size: 14px;
          }
          .bill-manufacturer{
            font-size: 16px;
          }
          .bill-price{
            display: none;
          }
          .bill-quantity{
            margin-left: 20px;
            min-width: 50px;
            font-size: 15px;
          }
        }
      }
    }
    .summaryContainer{
      span{
        font-size: 20px;
        text-transform: none;
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  section.order{
    .orderWrapper{
      display: flex;
      align-items: center;
      height: 76vh;
      margin-top:60px;
      overflow: scroll;
    }
    button{
      font-size: 15px;
      width: 50p
    }
  }
  .startScreen{
    .startButton{
      top: -30%;
    }
  }

  section.production {
    .itemContainer {
      .photoContainer{
        display: none;
      }
      .contentContainer {

        height: 65vh;

        h1 {
          font-size: 30px;
        }

        .infoContainer {
          h2 {
            font-size: 20px;
            padding-bottom: 1rem;
          }
          .price{
            font-size: 20px;
          }
        }

        .advIconsContainer {
          .advIcon {
            font-size: 12px;
            svg {
              font-size: 3rem;
            }
          }
        }

        .quantityBuyContainer {
          .quantityCounter{
            svg{
              font-size: 20px;
            }
            span{
              font-size: 25px;
            }
          }
          button.brk-btn{

          }
        }
      }
    }
  }

  .shoppingCart{
    .shoppingCartContent{
      width: 80vw;
      h2{
        font-size: 20px;
      }
      .shoppingList{
        height: 40vh;
        .empty{
          font-size: 20px;
        }
        .shoppingItem{
          .name{
            span:nth-child(1){
              font-size: 0.8rem;
            }
            span:nth-child(2){
              display: none;
            }
            span:nth-child(3){
              display: none;
            }
          }
          .quantPriceIcon{
            .quant{
              font-size: 0.8rem;
              margin-left: 5px;
            }
            .price{
              display: none;
            }
          }
        }
      }
      .orderContainer{
        flex-direction: column-reverse;
        .orderButtonContainer{
          padding: 0;
          button{
            font-size: 15px;
            padding: 1rem;
            min-width: 150px !important;

          }
        }
        .quantPriceIcon{
          width: 100%;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 20px;
          .quant{
            font-size: 20px;
          }
          .price{
            font-size: 20px;
          }
        }
      }
    }

  }
  .shoppingCart.active{
    transform: translateX(-80vw);
  }

}

@media (max-width: 576px) {

  header{

    nav.mobileNavbar{
      .activeSub{
        margin-bottom: 240px !important;
      }
      ul.mobile-nav-content{
        margin-top: 70px;
        .nav-item{
          width: 60%;
          height: 50px;
          a{
            svg{
              top: 13px;
              right: 10px;
            }
          }
          .sub-menu-container{
            width: 100%;
            ul.sub-menu{

              .nav-item{
                height: 40px;
                a{
                  font-size: 15px;
                }

              }
              .activeSub{
                margin-bottom: 240px !important;
              }
            }
          }
        }

      }
    }
  }
  .startScreen{
    .titleContainer{
      h1{
        font-size: 2.5rem;
      }
    }
    .leftTextSection p{
      font-size: 1rem;
    }
  }
  section.production > div{
    margin: 1rem !important;
  }
  section.production{
    .titleSearch{
      height: 50px;
      padding: 0;
      input{
        font-size: 15px;
        max-width: 80px;

      }
      svg{
        font-size: 18px;
      }
    }
    .brandsContainer{
      height: 65vh;
      a{
        height: 20%;
      }
    }
    .modelContainer{
      .cardContainer{
        .cardTitle{
          font-size: 12px;
        }
        .cardVendor{
          display: none;
        }
      }
    }
  }
  .breadcrumbsContainer {
    #breadcrumb {
      li{
        a{
          font-size: 10px;
          padding: 0;
          .bread-text{
            display: block;
            overflow: hidden;
            height: 40px;
          }
        }
      }
    }
  }
  section.order{
    .billContainer{
      .billItemsContainer{
        .billItem {
          .bill-name{
            font-size: 13px;
          }
          .bill-type{
            font-size: 13px;
          }
          .bill-manufacturer{
            font-size: 14px;
          }
          .bill-price{
            display: none;
          }
          .bill-quantity{
            margin-left: 20px;
            min-width: 50px;
            font-size: 15px;
          }
        }
      }
      .summaryContainer{
        span{
          font-size: 15px;
        }
      }
    }
  }
}

