//colors

$primaryDarkColor: #b30000;
$primaryLightColor: #cc0000;
$secondaryDarkColor: #dddddd;
$secondaryLightColor: #ffffff;

//paralax

// $parallax-offset: 10vh;
// $content-offset: 40vh;
// $transition-speed: 1.2s;
// $slide-number: 3;


